<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin: 0;
            padding: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #000;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        .section {
            margin-bottom: 15px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .section-title {
            font-weight: bold;
            background: #eee;
            padding: 5px;
            margin: -10px -10px 10px -10px;
            border-bottom: 1px solid #ccc;
        }

        .row {
            display: flex;
            margin-bottom: 5px;
        }

        .col {
            flex: 1;
            padding-right: 10px;
        }

        .label {
            font-size: 10px;
            color: #666;
        }

        .value {
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: left;
        }

        th {
            background: #eee;
        }

        .text-right {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="title">SHIPPER'S LETTER OF INSTRUCTION</div>
        <div>Date: {{date}}</div>
    </div>

    <div class="row">
        <div class="col section">
            <div class="section-title">Shipper</div>
            {{#if header.shipper.name}}
            <div class="value">{{header.shipper.name}}</div>
            <div>{{header.shipper.address}}</div>
            {{#if header.shipper.address2}}<div>{{header.shipper.address2}}</div>{{/if}}
            <div>{{header.shipper.city}}{{#if header.shipper.state}}, {{header.shipper.state}}{{/if}}
                {{header.shipper.zip}}</div>
            {{#if header.shipper.country}}<div>{{header.shipper.country}}</div>{{/if}}
            {{else}}
            <div class="value">{{header.shipper}}</div>
            {{/if}}
        </div>
        <div class="col section">
            <div class="section-title">Consignee</div>
            {{#if header.consignee.name}}
            <div class="value">{{header.consignee.name}}</div>
            <div>{{header.consignee.address}}</div>
            {{#if header.consignee.address2}}<div>{{header.consignee.address2}}</div>{{/if}}
            <div>{{header.consignee.city}}{{#if header.consignee.state}}, {{header.consignee.state}}{{/if}}
                {{header.consignee.zip}}</div>
            {{#if header.consignee.country}}<div>{{header.consignee.country}}</div>{{/if}}
            {{else}}
            <div class="value">{{header.consignee}}</div>
            {{/if}}
        </div>
    </div>

    <div class="section">
        <div class="section-title">Shipment Details</div>
        <div class="row">
            <div class="col">
                <div class="label">Incoterms</div>
                <div class="value">{{header.incoterm}}</div>
            </div>
            <div class="col">
                <div class="label">Currency</div>
                <div class="value">{{header.currency}}</div>
            </div>
            <div class="col">
                <div class="label">References</div>
                {{#if references}}
                {{#each references}}
                <div><span style="color: #666;">{{type}}:</span> <span class="value">{{value}}</span></div>
                {{/each}}
                {{else}}
                <div class="value">-</div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-title">Line Items</div>
        <table>
            <thead>
                <tr>
                    <th>Part #</th>
                    <th>Description</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Weight (kg)</th>
                    <th class="text-right">Value ({{header.currency}})</th>
                    <th>HTS Code</th>
                    <th>Origin</th>
                </tr>
            </thead>
            <tbody>
                {{#each lines}}
                <tr>
                    <td>{{partNumber}}</td>
                    <td>{{description}}</td>
                    <td class="text-right">{{quantity}}</td>
                    <td class="text-right">{{netWeightKg}}</td>
                    <td class="text-right">{{valueUsd}}</td>
                    <td>{{htsCode}}</td>
                    <td>{{countryOfOrigin}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="section">
        <div class="section-title">Authorization</div>
        <p>The Shipper authorizes the above named Forwarder to act as its agent for export control and customs purposes.
        </p>
        <div class="row" style="margin-top: 30px;">
            <div class="col">
                <div class="label">Signature</div>
                <div style="border-bottom: 1px solid #000; height: 20px;"></div>
            </div>
            <div class="col">
                <div class="label">Title</div>
                <div style="border-bottom: 1px solid #000; height: 20px;"></div>
            </div>
        </div>
    </div>
</body>

</html>